/* FONTS */

@font-face {
    font-family: 'Orbitron';
    src: url('assets/Fonts/Orbitron-VariableFont_wght.ttf');
}

html, body{
    margin:0;
}

#viewport{
    display:block;
    margin: 0 auto;
}

#orientation-prompt{
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    height: 100%;
    position: absolute;
    width: 100%;
}